body {
	display: flex;
	flex-direction: column;
	margin: 0;
}

main {
	background-color: #ffd02a
}
header {
	background-color: #dd7c00;
	height: 100%;
}

footer {
	display: block;
	background-color: #dd7c00;
	letter-spacing: 6px;
	text-align: center;
	color: white;
}

#navlist {
	margin: 0;
	padding: 0;
	list-style-type: none;
  overflow: hidden;
  z-index: 0;
}

#navlist > li > a {
	display: inline-block;
  	color: white;
  	text-align: center;
  	padding: 27px 20px;
  	font-size: 2em;
  	text-decoration: none;
  	font-family: "Itim";
  	margin: 0;
}

#navlist > li > a:hover {
	background-color: #f4a137;
}

.current_page {
	background-color: #c66f01;
}

li.current_page {
	background-color:  #dd7c00;
}

.dropdown {
}
.dropdown-content {
	list-style-type: none;
	display: none;
	margin: 0;
	padding: 0;
	width: 100%;

	position: absolute;
	background-color: #f4a137;

	text-align: left;
	color: white;
	font-size: 1.4em;
  font-family: "Itim";
}
.dropdown:hover .dropdown-content{
	display: block;
}
.dropdown-content > li > a {
	display:block;
	width: 100%;
	text-decoration: none;
	color: white;
}
.dropdown-content > li > a:hover {
		background-color: #dd7c00;
}
 

hr {
	border: 1px solid black;
	height: 3em;
	width: auto;
	margin-top: 2px;
	margin-bottom: 2px;

	background-image: url(snake-line.png);
	background-repeat: repeat-x;
	background-position: left;
	background-size: auto 3em;
}

@media screen and (max-width: 768px) {
 #navlist > li {
    display: block;
    text-align: center;
  }

  #navlist > li > a {
  	background: none;
  	font-size: 2em;
  	letter-spacing: 3px;
  	padding: 2px 0px;
  }

  #navlist > li:hover {
  	background-color: #f4a137;
  }

  li.current_page {
  	background-color: #c66f01;
  }
}
@media screen and (min-width: 768px) {
	#navlist > li {
		display: inline;
	}	
}

.normalArticle {
	font-size: 2em;
	font-family: "Itim";
	color: black;
}
.normalArticle h1 {
	font-size: 2em;
	margin: 0;
	padding-top: 30px;
	padding-left: 30px;
}
.normalArticle h3 {
	font-size: 1.5em;
	margin: 0;
	padding-top: 30px;
	padding-left: 30px;
}

.normalArticle p {
	padding-left: 5px;
	padding-right: 5px;
}

.imageArticle {
	font-size: 2em;
	font-family: "Itim";
	color: black;	
}
.imageArticle h1 {
	font-size: 2em;
	margin: 0;
	padding-top: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
}

.imageArticle p {
	margin-left: 5px;
	margin-right: 5px;

	text-align: justify;
}
.imageArticle img {
	width: 200px;
	height: auto;	

	border-radius: 10px;
	margin: 10px;
	float: left;
}

.listofParagraphs {
	margin: 0;
	font-size: 2em;
	font-family: "Itim";
	color: black;	
}
.listofParagraphs ul {
	margin: 0;
	width: 400px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 8px;
	list-style-type: none;
}
.listofParagraphs li {
	width: 400px;
	border: 4px solid black;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
	border-radius: 10px;
}
.listofParagraphs li:last-child {
	border-bottom: 4px solid black;
}
.listofParagraphs li:first-child {
	border-top: 4px solid black;
}
.listofParagraphs h3 {
	font-size: 1.5em;
	margin: 0;
	padding-top: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
	width: 100%;
}
.listofParagraphs li:hover {
	background-color: #dd7c00;
}
.listofParagraphs ul:hover li:last-child{
	margin-bottom: 55vh;
}

.storyCover p {
	display: none;
	position: absolute;
	
	border: 4px solid black;
	border-radius: 20px;
	background-color: red;

	width: 55vw;
	height: auto;
	padding: 3px;
}
.storyCover:hover > p {
	display: block;
}

#LittleMermaid {
	font-size: 0.7em;
	font-family: "Edu AU VIC WA NT Pre", cursive;
	color: white;
	background-color: #1a96d4;
	border: 10px groove #1a44d4;
}
#UglyDuck {
	font-size: 0.7em;
	font-family: "Edu AU VIC WA NT Pre", cursive;
	color: white;
	background-color: #6f1ad4;
	border: 10px groove #9c1ad4;
}
#EmpNClot {
	font-size: 0.7em;
	font-family: "Edu AU VIC WA NT Pre", cursive;
	color: white;
	background-color: #9e170e;
	border: 10px groove #e73010;
}
#MatchGirl {
	font-size: 0.7em;
	font-family: "Edu AU VIC WA NT Pre", cursive;
	color: white;
	background-color: #da7012;
	border: 10px groove #da5e12;
}

.storyCover p#LittleMermaid {
	transform: translate(35vw, -100px);
}
.storyCover p#UglyDuck {
	transform: translate(35vw, -142px);
}
.storyCover p#EmpNClot {
	transform: translate(35vw, -184px);
}
.storyCover p#MatchGirl {
	transform: translate(35vw, -226px);
}

@media screen and (max-width: 1300px) {
	.listofParagraphs ul:hover li:last-child{
		margin-bottom: 60vh;
	}
}
@media screen and (max-width: 1200px) {
	.storyCover p {
		position: relative;
		width: auto;
		margin: 5px;
		margin-left: 10px;
		margin-right: 10px;
	}
	.listofParagraphs ul {
		width: auto;
		margin: 0;
		padding-left: 20px;
		padding-right: 20px;
		margin-bottom: 8px;
	}
	.listofParagraphs li {
		width: auto;
		text-align: center;
		letter-spacing: 4px;
	}
	.listofParagraphs ul:hover li:last-child{
	margin-bottom: 0;
}

	.storyCover p#LittleMermaid {transform: none;}
	.storyCover p#UglyDuck {transform: none;}
	.storyCover p#EmpNClot {transform: none;}
	.storyCover p#MatchGirl {transform: none;}
}

section > h1 {
	font-size: 4em;
	margin: 0;
	color: black;
	font-family: "Itim";

	padding-top: 30px;
	padding-left: 30px;
}

@media screen and (max-width: 768px) {
	.imageArticle, .listofParagraphs, .normalArticle{
		font-size: 1.5em;
	}
	.listofParagraphs li {
		border: 2px solid black;
	}

	section > h1 {
		font-size: 3em;
	}
}
@media screen and (max-width: 500px) {
	.imageArticle, .listofParagraphs, .normalArticle{
		font-size: 1em;
	}

	section > h1 {
		font-size: 2em;
	}
}
